.cart {
  position: relative;
  height: auto;

  margin: auto;
  margin-top: 150px;
}
.cartContainer {
  position: relative;
  height: auto;
  width: 650px;
  margin: auto;

  margin-bottom: 250px;
  background-color: white;
}
